[Desktop Entry]
Type=Application
Name=Mono Shell
Comment=A sleek, customizable desktop shell crafted for Wayland.
Exec=mono-shell --daemon
Icon=mono-shell
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=false
Actions=Settings;

[Desktop Action Settings]
Name=Open Settings
Exec=sh -c "mono-shell msg settings-open || { mono-shell --daemon && mono-shell msg settings-open; }"
